<%- include('parts/header.ejs')%>
    <%- include('parts/navbar.ejs')%>

        <form class="form-inline my-2 my-lg-0" action="/searchC" method="get">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" name="searchC">
            <button class="btn btn-outline-success my-2 my-sm-0">Search</button>
        </form>
        <table>
            <tr style="font-size: 20px;font-weight: bold;color: #333;border-bottom: #333 solid 1px;">
                <td>Name</td>
                <td>ID</td>
                <td>Gender</td>
                <td>Nationality</td>
                <td></td>
            </tr>
            <%for (let client of clients){%>
                <tr>
                    <td style="padding-bottom: 10px;">
                        <%= client.personalInformation.PI_firstName%>
                            <%=client.personalInformation.PI_secondName%>
                    </td>
                    <td style="padding-bottom: 10px;">
                        <%= client._id%>
                    </td>
                    <td style="padding-bottom: 10px;">
                        <%= client.personalInformation.PI_gender%>
                    </td>
                    <td style="padding-bottom: 10px;">
                        <%= client.personalInformation.PI_nationality%>
                    </td>
                    <td style="padding-bottom: 10px;"><a style="color: #bd2176;" href="/edit/<%= client._id%>">Edit</a></td>
                </tr>
                <%}%>
        </table>
        <%- include('parts/footer.ejs')%>