<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=10">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Entry data</title>
    <!-- <link rel="stylesheet" type="text/css" href="/data1css">for ejs -->
    <link rel="stylesheet" type="text/css" href="/data-en.css">
    <!-- //<h3><a href="/data-arejs" dir="rtl">Arabic</a></h3>// -->
    <!--for ejs-->
    <input id="changetoenglish" type="button" onClick="location.href='/data-ar'" value='Arabic'>
    <!--for ejs-->
    <a href="/logout" class="btn btn-default btn-sm">Logout</a>
</head>

<body>
    <h1> ADD New Person</h1>


    <form action="/data-en" id="data-en-form" method="POST" enctype="multipart/form-data ">
        </*onsubmit="returen false" */>
        <label style="color:gold">ID</label>
        <input type="text" maxlength="14" name="_id" placeholder="Enter Your ID Number">
        <fieldset id="f1" name="personalInformation" dir="auto">
            <legend>Basic Information</legend>
            <label>First Name</label>
            <input type="text" name="PI_firstName" placeholder="Enter Your First Name" title="enter your first name only without any spaces">
            <label>Second Name</label>
            <input type="text" name="PI_secondName" placeholder="Enter Your Second Name">
            <label>Third Name</label>
            <input type="text" name="PI_thirdName" placeholder="Enter Your Third Name"><br>
            <label>Fourth Name</label>
            <input type="text" name="PI_fourthName" placeholder="Enter Your Fourth Name">
            <label>Last Name </label>
            <input type="text" name="PI_lastName" placeholder="Enter Your Last Name">
            <label>Title </label>
            <select name="PI_title" placeholder="Enter Your Title">
                <%for(let t of titles){%> 
                <option value=""><%= t.english%></option>
                <%}%>
            </select>
            <label>Gender</label>
            <select name="PI_gender" placeholder="Enter Your Gender">
            <option>Male</option>
            <option>Female</option>
            </select>
            <label>Nationality</label>
            <select name="PI_nationality" placeholder="Enter Your Nationality">
            <%for(let n of nationalities){%> 
                <%if (n.english.length !==0){%>
                <option value=""><%= n.english%></option>
                <%}%>
                <%}%>
            </select>
            <label>Marital status</label>
            <select name="PI_maritalStatus" placeholder="Enter Your Marital Status">
            <%for(let ms of maritalstatus){%> 
                <option value=""><%= ms.english%></option>
                <%}%>
            </select><br>

        </fieldset>

        <fieldset id="f2" name="identityCard">
            <legend>Identity Card</legend>
            <label>ID Number</label>
            <input type="text" maxlength="14" name="IC_idNumber" placeholder="Enter Your ID Number">
            <label>Issued From</label>
            <select name="IC_issuedfrom">
            </select><br>
            <label>Start Date</label>
            <input type="date" name="IC_startDate">
            <label>End Date</label>
            <input type="date" name="IC_endDate"><br>
            <label>Full Name </label>
            <input type="text " name="IC_fullName" placeholder="Enter Your Full Name">
            <label>Gender</label>
            <select name="IC_gender">
                <option>Male</option>
                <option>Female</option>
            </select>
            <label>Address</label>
            <input type="text " name="IC_address" placeholder="Enter Your Address"><br>
            <label>Religion</label>
            <select name="IC_religion">
                <%for(let r of religions){%> 
                <%if (r.english.length !==0){%>
                <option value=""><%= r.english%></option>
                <%}%>
                <%}%>
            </select>
            <label>Marital Status</label>
            <select name="IC_maritalStatus">
                <%for(let ms of maritalstatus){%> 
                <option value=""><%= ms.english%></option>
                <%}%>

            </select>
            <label>Job</label>
            <input type="text" name="IC_job" placeholder="Enter Your Job"><br>
            <label>Husband Name</label>
            <input type="text" name="IC_husbandName" placeholder="Enter Your Husband Name">
            <label>Upload Your Identity Card</label>
            <input type="file" name="IC_uploadId">
        </fieldset>
        <fieldset id="f3" name="militaryState">
            <legend>Military State</legend>
            <label>Full Name</label>
            <input type="text" name="MS_fullName" placeholder="Enter Your Full Name">
            <label>Birth Date</label>
            <input type="date" name="MS_birthDate"><br>
            <label>ID Number</label>
            <input type="text" name="MS_idNumber" maxlength="14" placeholder="Enter Your ID Number">
            <label>Issued from</label>
            <select name="MS_IDIssuedFrom">
            </select><br>
            <label>Military service ID(triple)</label>
            <input type="text" name="MS_militaryServiceIDTriple" placeholder="Enter Your Military Service ID">
            <label>Issued From</label>
            <select name="MS_issuedFrom">
                <option></option>
            </select><br>
            <label>Decision Code</label>
            <input type="text" name="MS_decisionCode" placeholder="Enter Decision Code">
            <label>Decision Number</label>
            <input type="text" name="MS_decisionNumber" placeholder="Enter Decision Code">
            <label>Decision Date</label>
            <input type="date" name="MS_decisionDate"><br>
            <label>Decision</label>
            <input type="text" name="MS_decision" placeholder="Enter Decision">
            <label>Upload Your Military Certificate</label>
            <input type="file" name="MS_uploadMilitary">
        </fieldset>
        <fieldset id="f4" name="familyStatus">
            <legend>Family Status</legend>
            <label>Number Of Family Members</label>
            <input type="number" min="1" name="FS_numberOfFamilyMembers" placeholder="Enter Number of Family Members">
            <label>Number Of Children (Males)</label>
            <input type="number" min="1" name="FS_numberOfChildrenMales" placeholder="Enter Male Children Number">
            <label>Number Of Children (females)</label>
            <input type="number" min="1" name="FS_numberOfChildrenFemales" placeholder="Enter Female Children Number">
            <label>Number Of Wifes</label>
            <input type="number" min="1" name="FS_numberOfWifes" placeholder="Enter Number of Your Wifes">
            <label>Parent Status</label>
            <select name="FS_parentStatus">
                <option>Divorced</option>
                <option>Married</option>
                <option>widower/widowa</option>
            </select>
        </fieldset>
        <fieldset id="f5" name="birthDetails">
            <legend>Birth Details</legend>
            <label>Full name In English</label>
            <input type="text" name="BD_fullNameInEnglish" placeholder="Enter Full name In English">
            <label>Full Name In Arabic</label>
            <input type="text" name="BD_fullNameInArabic" placeholder="Enter Full Name In Arabic"><br>
            <label>Nationality</label>
            <select name="BD_nationality">
            <%for(let n of nationalities){%> 
                <%if (n.english.length !==0){%>
                <option value=""><%= n.english%></option>
                <%}%>
                <%}%>
            </select>
            <label>Place Of Birth</label>
            <input type="text" name="BD_placeOfBirth" placeholder="Enter Place Of Birth">
            <label>Gender</label>
            <select name="BD_gender">
            <option>Male</option>
            <option>Female</option>
            </select>
            <label>Religion</label>
            <select name="BD_religion">
                <%for(let r of religions){%> 
                <%if (r.english.length !==0){%>
                <option value=""><%= r.english%></option>
                <%}%>
                <%}%>
            </select><br>
            <label>Date Of Birth</label>
            <input type="date" name="BD_dateOfBirth">
            <label>National Number</label>
            <input type="text" name="BD_nationalNumber" maxlength="14" placeholder="Enter Your National Number"><br>
            <label>Full Name of Father</label>
            <input type="text" name="BD_fullFatherName" placeholder="Enter Father's Full Name">
            <label>His Religion</label>
            <select name="BD_hisReligion">
                <%for(let r of religions){%> 
                <%if (r.english.length !==0){%>
                <option value=""><%= r.english%></option>
                <%}%>
                <%}%>
            </select>
            <label>His Nationality</label>
            <select name="BD_hisNationality">
                <%for(let n of nationalities){%> 
                    <%if (n.english.length !==0){%>
                    <option value=""><%= n.english%></option>
                    <%}%>
                    <%}%>
            </select><br>
            <label>Full Name of Mother</label>
            <input type="text" name="BD_fullMotherName" placeholder="Enter Mother's Full Name">
            <label>Her Religion</label>
            <select name="BD_herReligion">
                <%for(let r of religions){%> 
                <%if (r.english.length !==0){%>
                <option value=""><%= r.english%></option>
                <%}%>
                <%}%>
            </select>
            <label>Her Nationality</label>
            <select name="BD_herNationality">
                <%for(let n of nationalities){%> 
                    <%if (n.english.length !==0){%>
                    <option value=""><%= n.english%></option>
                    <%}%>
                    <%}%>
            </select><br>
            <label>Civil Register</label>
            <input type="text" name="BD_civilRegister">
            <label>Issue Register</label>
            <input type="text" name="BD_issueRegister">
            <label>Issue Date</label>
            <input type="date" name="BD_issueDate">
            <label>Register Date</label>
            <input type="date" name="BD_registerDate">
            <label>Upload Your Birth Certificate</label>
            <input type="file" name="BD_uploadCopy">
        </fieldset>
        <fieldset id="f6" name="addressDetails">
            <legend>Address</legend>
            <label>Address type</label>
            <select name="AD_addressType">
                <option>Select Address type</option>
                <option>Owned</option>
                <option>Rented</option>
                <option>Shared</option>
                <option>Family Residence</option>
                <option>Friend Residence</option>
            </select>
            <label>Expiration Date of Renting</label>
            <input type="date" name="AD_expirationDateOfRenting">
            <label>Country</label>
            <select name="AD_country">
                <%for(let n of nationalities){%> 
                    <%if (n.english.length !==0){%>
                    <option value=""><%= n.english%></option>
                    <%}%>
                    <%}%>
            </select>
            <label>City</label>
            <select name="AD_city">
                <option></option>
            </select>
            <label>Area</label>
            <input type="text" name="AD_area" placeholder="Enter Your Area">
            <label>Real State Type</label>
            <select name="AD_realStateType">
                <option></option>
            </select>
            <label>Real State Number</label>
            <input type="text" name="AD_realStateNumber" maxlength="4" placeholder="Enter Real State Number">
            <label>Floor Number</label>
            <input type="number" min="1" name="AD_floorNumber" placeholder="Enter Floor Number">
            <label>Appartment Number</label>
            <input type="text" name="AD_appartmentNumber" placeholder="Enter Appartment Number">
            <label>Street Name</label>
            <input type="text" name="AD_streetName" placeholder="Enter Street Name">
            <label>Detailed Address</label>
            <textarea name="AD_detailedAddress" maxlength="160" placeholder="Enter Detailed Address example: 555 tiba street, ibrahimya, Alexandria, Egypt"></textarea>
            <label>Owns</label>
            <input type="text" name="AD_owns">
        </fieldset>
        <fieldset class="f7" name="legalInformation">
            <legend>Legal Information</legend>
            <fieldset class="f7" name="drivingLicence">
                <legend>Driving Licence</legend>
                <label>Traffic unit</label>
                <input type="text" name="DL_trafficUnit" placeholder="Enter Trrafic Unit">
                <label>ID</label>
                <input type="text" name="DL_ID" maxlength="14" placeholder="Enter Your ID Number"><br>
                <label>Address</label>
                <input type="text" name="DL_address" placeholder="Enter Your Address">
                <label>Nationality</label>
                <select name="DL_nationality">
                    <%for(let n of nationalities){%> 
                        <%if (n.english.length !==0){%>
                        <option value=""><%= n.english%></option>
                        <%}%>
                        <%}%>
                </select><br>
                <label>Issue Date</label>
                <input type="date" name="DL_issueDate">
                <label>End Date</label>
                <input type="date" name="DL_endDate"><br>
                <label>Job</label>
                <input type="text" name="DL_job" placeholder="Enter Your Job">
                <label>Type of licence</label>
                <input type="text" name="DL_typeOfLicence" placeholder="Enter Licence Type"><br>
                <label>Licence Number</label>
                <input type="text" name="DL_licenceNumber" placeholder="Enter Licence Number">
                <label>Type of Vehicle</label>
                <input type="text" name="DL_typeOfVehicle" placeholder="Enter Vehicle Type"><br>
                <label>Wearing Glasses?</label>
                <select name="DL_wearingGlasses">
                <option>Yes</option>
                <option>No</option>
            </select>
                <label>Upload Driving Licence</label>
                <input type="file" name="DL_copyOfLicence">
            </fieldset>
            <fieldset class="f7" name="internationalDrivingLicence">
                <legend>International Driving Licence</legend>
                <label>Name</label>
                <input type="text" name="IDL__name" placeholder="Enter Your Name">
                <label>Address</label>
                <input type="text" name="IDL__address" placeholder="Enter Your Address"><br>
                <label>Place of birth</label>
                <input type="text" name="IDL__placeOfBirth" placeholder="Enter Birth Place">
                <label>Date of Birth</label>
                <input type="date" name="IDL__dateOfBirth"><br>
                <label>Height</label>
                <input type="text" name="IDL__height" placeholder="Enter Your Height">
                <label>Gender</label>
                <select name="IDL__gender">
                <option>Select Your Gender</option>
                <option>Male</option>
                <option>Female</option>
            </select><br>
                <label>Eyes Color</label>
                <select name="IDL__eyesColor">
                <option></option>
            </select>
                <label>Blood Group</label>
                <select name="IDL__bloodGroup">
                <option></option>
            </select><br>
                <label>Passport Number</label>
                <input type="text" name="IDL__passportNumber" placeholder="Enter Passport Number"><br>
                <label>Class (Category)</label>
                <input type="text" name="IDL__classCategory" placeholder="Enter Passport Class">
                <label>Licence Type</label>
                <input type="text" name="IDL__licenceType" placeholder="Enter Licence Type"><br>
                <label>Issued Date</label>
                <input type="date" name="IDL__issuedDate">
                <label>Expire Date</label>
                <input type="date" name="IDL__expireDate"><br>
                <label>Category</label>
                <input type="text" name="IDL__category" placeholder="Enter Category">
                <label>Upload Copy</label>
                <input type="file" name="IDL__uploadCopy">
            </fieldset>
            <fieldset class="f7" name="passport">
                <legend>Passport</legend>
                <label>Passport Number</label>
                <input type="text" name="P_passportNumber" placeholder="Enter your passport number">
                <label>Military Status</label>
                <select name="P_militaryStatus" placeholder="Enter Military Mtatus">
                <option></option>
            </select><br>
                <label>Passport Type</label>
                <input type="text" name="P_passportType" placeholder="Enter Your Passport Type">
                <label>Passport Country</label>
                <select name="P_passportCountry" placeholder="Enter Country Issued Passport">
                <option></option>
            </select><br>
                <label>Issued at</label>
                <input type="text" name="P_issuedAt" placeholder="Enter Issue Place">
                <label>Issue Date</label>
                <input type="date" name="P_issueDate"><br>
                <label>End Date</label>
                <input type="date" name="P_endDate">
                <label>Profession</label>
                <input type="text" name="P_profession" placeholder="Enter Your Job"><br>
                <label>Issue Office</label>
                <input type="text" name="P_issueOffice" placeholder="Enter Issue office">
                <label>Upload Passport</label>
                <input type="file" name="P_copyOfPassport">
            </fieldset>
            <fieldset class="f7" name="visa">
                <legend>Visa</legend>
                <label>Visa Type</label>
                <select name="VtypeOfVisa">
                <option></option>
            </select>
                <label>Valid For</label>
                <input type="text" name="V_validFor" placeholder="Enter The Duration of The Visa"><br>
                <label name="V_periodValidity">Period Validity</label>
                <label>From</label>
                <input type="date" name="V_periodValidity_From">
                <label>To</label>
                <input type="date" name="V_periodValidity_To"><br>
                <label>Number of Entries</label>
                <input type="number" min="1" name="V_numberOfEntries" placeholder="Enter Entries Number">
                <label>Duration of Stay</label>
                <input type="text" name="V_durationOfStay" placeholder="Enter Duration of Stay"><br>
                <label>Profession</label>
                <input type="text" name="V_profession" placeholder="Enter Your Job">
                <label>Religion</label>
                <select name="V_religion">
                    <%for(let r of religions){%> 
                <%if (r.english.length !==0){%>
                <option value=""><%= r.english%></option>
                <%}%>
                <%}%>
                </select><br>
                <label>Nationality</label>
                <select name="V_nationality">
                
                </select>
                <label>Issuing Authority</label>
                <input type="text" name="V_issuingAuthority">
                <label>Issued Date</label>
                <input type="date" name="V_issuedDate"><br>
                <label>Expiration Date</label>
                <input type="date" name="V_expirationDate">
                <label>Purpose</label>
                <input type="text" name="V_purpose" placeholder="Enter Purpose of Visa"><br>
                <label>Transporter</label>
                <input type="text" name="V_transporter" placeholder="Enter Transporter">
                <label>Passport Number</label>
                <input type="text" name="V_passportNumber" placeholder="Enter Your Passport Number"><br>
                <label>First Name</label>
                <input type="text" name="V_firstName" placeholder="Enter Your first Name">
                <label>Last Name</label>
                <input type="text" name="V_lastName" placeholder="Enter Your Last Name"><br>
                <label>Remarks</label>
                <textarea name="V_remarks" maxlength="100" placeholder="Enter Remarks"></textarea>
            </fieldset>
            <fieldset class="f7" name="residencePermit">
                <legend>Residence Permit</legend>
                <label>Residence Permit Type</label>
                <select name="RP_typesOfResidencePermit">
                    <option></option>
                </select>
                <label>Isuued Date</label>
                <input type="date" name="RP_issuedDate">
                <label>Expiration Date</label>
                <input type="date" name="RP_expirationDate"><br>
                <label>Issued Place</label>
                <input type="text" name="RP_issuedPlace" placeholder="Enter Issued Place">
                <label>Number of Residence Permit</label>
                <input type="number" min="1" name="RP_numberOfResidencePermit" placeholder="Enter Number Of Residence Permit"><br>
                <label>Full Name</label>
                <input type="text" name="RP_fullName" placeholder="Enter Your Full Name">
                <label>Birth date</label>
                <input type="date" name="RP_birthDate">
                <label>Nationality</label>
                <select name="RP_nationality">
                    <%for(let n of nationalities){%> 
                        <%if (n.english.length !==0){%>
                        <option value=""><%= n.english%></option>
                        <%}%>
                        <%}%>
                </select>
                <label>Religion</label>
                <select name="RP_religion" value="">
                    <%for(let r of religions){%> 
                <%if (r.english.length !==0){%>
                <option value=""><%= r.english%></option>
                <%}%>
                <%}%>
                </select>
                <label>Employer Sponser</label>
                <input type="text" name="RP_employerSponser" placeholder="Enter Employer Sponser">
                <label>Accompanied By</label>
                <input type="text" name="RP_accompaniedBy">
                <label>Upload Residence Permit</label>
                <input type="file" name="RP_copyOfResidencePermit">
            </fieldset>
            <fieldset name="sponserInformation">
                <legend>Sponser Information</legend>
                <label>Sponser Name</label>
                <input type="text" name="SI_name">
                <label>Sponser's ID</label>
                <input type="text" name="SI_id">
                <label>Mobile Number</label>
                <input type="text" name="SI_mobileNumber">
                <label>Work Place</label>
                <input type="text" name="SI_workPlace">
                <label>Contract Name</label>
                <input type="text" name="SI_contractName">
                <label>Contract Number</label>
                <input type="text" name="SI_contractNumber">
                <label>Licence Number</label>
                <input type="text" name="SI_licenceNumber">
                <label>Issued Date</label>
                <input type="date" name="SI_issuedDate">
                <label>Expiration Date</label>
                <input type="date" name="SI_expirationDate">
                <label>Country</label>
                <select type="text" name="SI_country">
                    <%for(let n of nationalities){%> 
                        <%if (n.english.length !==0){%>
                        <option value=""><%= n.english%></option>
                        <%}%>
                        <%}%>
                </select>
                <label>City</label>
                <input type="text" name="SI_city">
            </fieldset>
            <fieldset name="policeRecordsCertificate">
                <legend>Police Records Certificate</legend>
                <label>Full Name</label>
                <input type="text" name="PC_fullName">
                <label>Gender</label>
                <select name="PC_gender" value="">
                    <option>Male</option>
                    <option>Female</option>
                </select>
                <label>ID Number</label>
                <input type="text" name="PC_IDNumber">
                <label>From</label>
                <input type="text" name="PC_from">
                <label>Address</label>
                <input type="text" name="PC_address">
                <label>Presented To</label>
                <input type="text" name="PC_presentedTo">
                <label>Transaction Number</label>
                <input type="text" name="PC_transactionNumber">
                <label>Date of Issue</label>
                <input type="date" name="PC_dateOfIssue">
                <label>Result of Inspection</label>
                <input type="date" name="PC_resultOfInspection">
                <label>If any, Mention it</label>
                <input type="text" name="PC_ifAnyMentionIt">
                <label>Upload</label>
                <input type="file" name="PC_uploadCopy">
            </fieldset>
        </fieldset>
        <fieldset name="bankAccount">
            <legend>Bank Account</legend>
            <label>Account Type</label>
            <input type="text" name="BA_accountType">
            <label>Account Number</label>
            <input type="text" name="BA_accountNumber">
            <label>Bank Name</label>
            <input type="text" name="BA_bankName">
            <label>Currency</label>
            <input type="text" name="BA_currency">
            <label>Branch</label>
            <input type="text" name="BA_branch">
        </fieldset>
        <fieldset name="contactData">
            <legend>Contact</legend>
            <label>Telephone Number</label>
            <input type="tel" name="CD_telephoneNumber">
            <label>Mobile Number</label>
            <input type="tel" name="CD_mobileNumber">
            <label>Postal Code</label>
            <input type="text" name="CD_postalCode">
            <label>E-mail</label>
            <input type="email" name="CD_email">
            <label>Contact Language</label>
            <select type="text" name="CD_contactLanguage">
                <%for(let l of languages){%> 
                        <%if (l.english_name.length !==0){%>
                        <option value=""><%= l.english_name%></option>
                        <%}%>
                        <%}%>
                </select>
            <label>Native Language</label>
            <select type="text" name="CD_nativeLanguage">
                <%for(let l of languages){%> 
                        <%if (l.english_name.length !==0){%>
                        <option value=""><%= l.english_name%></option>
                        <%}%>
                        <%}%>
                </select>
            <label>Spoken Language</label>
            <select type="text" name="CD_spokenLanguage">
                <%for(let l of languages){%> 
                        <%if (l.english_name.length !==0){%>
                        <option value=""><%= l.english_name%></option>
                        <%}%>
                        <%}%>
                </select>
        </fieldset>
        <fieldset name="Education">
            <legend>Education</legend>
            <label>Last Degree Level</label>
            <input type="text" name="E_lastDegreeLevel" value="">
            <fieldset name="university">
                <legend>University</legend>
                <label>University Name</label>
                <input type="text" name="UNI_universtyName" value="">
                <label>Faculty Name</label>
                <input type="text" name="UNI_facultyName" value=""><br>
                <label>Degree Level</label>
                <select name="UNI_degreeLevel" value="">
                        <option></option>
                    </select>
                <label>Department</label>
                <input type="text" name="UNI_department" value=""><br>
                <label>Grade</label>
                <select name="UNI_grade" value="">
                        <option></option>
                    </select>
                <label for="">Graduate Date</label>
                <input type="date" name="UNI_graduateDate" value=""><br>
                <label for="">Cetificate</label>
                <input type="file" name="UNI_copyOfCertificate" value="">
            </fieldset>
            <fieldset name="secondrySchool">
                <legend>Secondry School</legend>
                <label for="">Type</label>
                <select name="SEC_schoolType" value="">
                        <option ></option>
                    </select>
                <label for="">School Name</label>
                <input type="text" name="SEC_secondrySchoolName" value=""><br>
                <label for="">Grade</label>
                <select name="SEC_grade" value="">
                        <option></option>
                    </select>
                <label for="">Graduate Date</label>
                <input type="date" name="SEC_graduateDate" value=""><br>
                <label for="">Certificate</label>
                <input type="file" name="SEC_copyOfCertificate" value="">
            </fieldset>
            <fieldset name="middleSchool">
                <legend>Middle School</legend>
                <label for="">Type</label>
                <select name="MIDD_typeOfSchool" value="">
                        <option ></option>
                    </select>
                <label for="">School Name</label>
                <input type="text" name="MIDD_schoolName" value=""><br>
                <label for="">Grade</label>
                <select name="MIDD_grade" value="">
                        <option></option>
                    </select>
                <label for="">Graduate Date</label>
                <input type="date" name="MIDD_graduateDate" value=""><br>
                <label for="">Certificate</label>
                <input type="file" name="MIDD_copyOfCertificate" value="">
            </fieldset>
            <fieldset name="primarySchool">
                <legend>Primary School</legend>
                <label for="">Type</label>
                <select name="PRIM_schoolType" value="">
                        <option ></option>
                    </select>
                <label for="">Schoole Name</label>
                <input type="text" name="PRIM_schoolName" value=""><br>
                <label for="">Grade</label>
                <select name="PRIM_grade" value="">
                        <option></option>
                    </select>
                <label for="">Graduate Date</label>
                <input type="date" name="PRIM_graduateDate" value=""><br>
                <label for="">Certificate</label>
                <input type="file" name="PRIM_copyOfCertificate" value="">
            </fieldset>
            <fieldset name="trainingAndCourses">
                <legend>Training And Courses</legend>
                <label for="">Training Topic</label>
                <input type="text" name="TAC_trainingTopic" value="">
                <label for="">Organization Or institution Name</label>
                <input type="text" name="TAC_organizationOrinstitutionName" value=""><br>
                <label for="">Month</label>
                <input type="text" name="TAC_month" value="">
                <label for="">Year</label>
                <input type="text" name="TAC_year" value=""><br>
                <label for="">Additional Information</label>
                <textarea rows="2" cols="" maxlength="150" placeholder="Enter Any additional Information"></textarea>
            </fieldset>
            <fieldset name="skills">
                <legend>Skills</legend>
                <label for="">Skill Name</label>
                <select name="SK_skillName" value="">
                        <option></option>
                    </select>
                <label for="">Proficiency</label>
                <select name="SK_proficiency" value="">
                        <option></option>
                    </select><br>
                <label for="">Interest</label>
                <input type="text" name="SK_interest" value="">
                <label for="">Years of Experience</label>
                <select name="SK_yearsOfExperience" value="">
                        <option></option>
                    </select><br>
                <label for="">Add Justification</label>
                <textarea rows="2" cols="" maxlength="150" placeholder="Enter Add Justification"></textarea>
            </fieldset>
            <fieldset name="languages">
                <legend>Languages</legend>
                <label for="">Language</label>
                <select name="LANG_language" value="">
                        <%for(let l of languages){%> 
                        <%if (l.english_name.length !==0){%>
                        <option value=""><%= l.english_name%></option>
                        <%}%>
                        <%}%>
                    </select>
                <label for="">Reading Proficiency</label>
                <select name="LANG_readingProficiency" value="">
                        <option></option>
                    </select>
                <label for="">Writing Proficiency</label>
                <select name="LANG_writingProficiency" value="">
                        <option></option>
                    </select>
                <label for="">Listening Proficiency</label>
                <select name="LANG_listeningProficiency" value="">
                        <option></option>
                    </select>
                <label for="">Speaking Proficiency</label>
                <select name="LANG_speakingProficiency" value="">
                        <option></option>
                    </select>
                <label for="">Add Justification</label>
                <textarea rows="2" cols="" maxlength="150" placeholder="Enter Add Justification"></textarea>
            </fieldset>
        </fieldset>
        <fieldset name="medicalProfile">
            <legend>Medical Profile</legend>
            <label for="">Blood Group</label>
            <select name="MP_bloodGroup" value="">
                    <option></option>
                </select>
            <fieldset name="MP_vitalRates">
                <legend>Vital Rates</legend>
                <label for="">Blood Pressure</label>
                <input type="text" name="VR_bloodPressure" value="">
                <label for="">Breathing Average</label>
                <input type="text" name="VR_breathingAverage" value="">
                <label for="">Pulse Average</label>
                <input type="text" name="VR_pulseAverage" value="">
            </fieldset>
            <fieldset name="MP_physicalProperties">
                <legend>Physical Properties</legend>
                <label for="">Hip Size</label>
                <input type="text" name="PP_hipSize" value="">
                <label for="">Wrist Size</label>
                <input type="text" name="PP_wristSize" value="">
                <label for="">Height</label>
                <input type="text" name="" value="">
            </fieldset>
            <fieldset name="MP_regularHabits">
                <legend>Regular Habits</legend>
                <label for="">Eat Fruits</label>
                <input type="checkbox" class="checkBox" name="RH_eatFruits" value=""><br>
                <label for="">Eat Vegetables</label>
                <input type="checkbox" class="checkBox" name="RH_eatVegetables" value=""><br>
                <label for="">Eat Chicken</label>
                <input type="checkbox" class="checkBox" name="RH_eatChicken" value=""><br>
                <label for="">Eat Meats</label>
                <input type="checkbox" class="checkBox" name="RH_eatMeats" value=""><br>
                <label for="">Smoke</label>
                <input type="checkbox" class="checkBox" name="RH_smoke" value=""><br>
                <label for="">Drink Alchol</label>
                <input type="checkbox" class="checkBox" name="RH_drinkAlchole" value=""><br>
                <label for="">Take Drugs</label>
                <input type="checkbox" class="checkBox" name="RH_takeDrugs" value=""><br>
            </fieldset>

        </fieldset>








        <input type="submit" id="submitDetails" name="submitDetails" value="Submit" /><br>
    </form>

    <script src="/js/app.js"></script>
</body>


</html>