<!-- views/profile.ejs -->
<!doctype html>
<html>

<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body {
            padding-top: 80px;
            word-wrap: break-word;
        }
    </style>
</head>

<body>
    <div class="container">

        <div class="page-header text-center">
            <h1><span class="fa fa-anchor"></span> Profile Page</h1>
            <a href="/logout" class="btn btn-default btn-sm">Logout</a>
        </div>

        <div class="row">

            <!-- LOCAL INFORMATION -->
            <div class="col-sm-6">
                <div class="well">
                    <h3><span class="fa fa-user"></span> Local</h3>

                </div>

                <div>

                    <%for(let en of draftEn){%>
                        <a href="/data-en">
                            <li>Draft Client First Name :
                                <%= en.personalInformation. PI_firstName%> and Second Name :
                                    <%= en.personalInformation. PI_secondName%>
                            </li>
                        </a>
                        <%}%>
                            <%for(let ar of draftAr){%>
                                <a href="/data-ar">
                                    <li>Draft Client First Name :
                                        <%= ar.personalInformation. PI_firstName%> and Second Name :
                                            <%= ar.personalInformation. PI_secondName%>
                                    </li>
                                </a>
                                <%}%>
                                    <%for(let PI of draftPI ){%>
                                        <a href="/personalInf">
                                            <li>Draft Client First Name :
                                                <%= PI.personalInformation. PI_firstName%> and Second Name :
                                                    <%= PI.personalInformation. PI_secondName%>
                                            </li>
                                        </a>
                                        <%}%>

                </div>
            </div>

        </div>

    </div>
</body>

</html>