<%- include('parts/header.ejs')%>
    <%- include('parts/navbar.ejs')%>
        <a href='/export' style="margin-left: 60%;">Export to CSV</a>
        <form action="/log" method="GET" enctype="multipart/form-data ">
            <h1>entities</h1>
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <th>user</th>
                    <th>statement</th>
                    <th>createdAt</th>
                </thead>
                <%for (let inc of logs){%>
                    <tr>
                        <td><output style="font-weight:normal;font-size:15px;"><%= inc.user %></output></td>
                        <td><output style="font-weight:normal;font-size:15px;"><%= inc.statement%></output></td>
                        <td><output style="font-weight:normal;font-size:15px;"><%= inc.createdAt%></output></td>
                    </tr>
                    <%}%>
            </table>
        </form>

        <%- include('parts/footer.ejs')%>