<%- include('../../parts/header.ejs')%>
<%- include('../../parts/navbar.ejs')%>


<div class=" py-5">
    <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">_id</td>
                    <th scope="col">parent</td>
                    <th scope="col">total</td>  
                    <th scope="col">transactionType</td>
                    <th scope="col">transactionDate</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                <%for (let inc of costCenters){%>
                    <tr>
                        <td><output ><%= inc._id %></output></td>
                        <td><output ><%= inc.parent%></output></td>
                        <td><output ><%= inc.total%></output></td>
                        <td><output ><%= inc.transactionType%></output></td>
                        <td><output ><%= inc.transactionDate%></output></td>
                    </tr>
                <%}%>
                </tr>
            </tbody>
        </table>
</div>

<div class=" py-5">
    <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">_id</td>
                    <th scope="col">parent</td>
                    <th scope="col">total</td>  
                    <th scope="col">transactionType</td>
                    <th scope="col">transactionDate</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                
                <%for (let inc of costCentersx){%>
                    <tr>
                        <td><output ><%= inc._id %></output></td>
                        <td><output ><%= inc.parent%></output></td>
                        <td><output ><%= inc.total%></output></td>
                        <td><output ><%= inc.transactionType%></output></td>
                        <td><output ><%= inc.transactionDate%></output></td>
                    </tr>
                <%}%>
                </tr>
                
            </tbody>
        </table>
</div>
<%- include('../../parts/footer.ejs')%>