<%- include('../../parts/header.ejs')%>
    <%- include('../../parts/navbar.ejs')%>
        <a href='/export' style="margin-left: 60%;">Export to CSV</a>

        <form action="/transactionDate" method="GET" enctype="multipart/form-data ">
            <h1></h1>

            <table class="table table-bordered">
                <thead class="thead-dark">
                    <th>itemName</th>
                    <th>transactionType</th>
                    <th>quantity</th>
                    <th>price</th>
                    <th>total</th>
                    <th>transactionDate</th>
                </thead>
                <%for (let inc of transactions){%>
                    <tr>
                        <td><output style="font-weight:normal;font-size:15px;"><%= inc._id %></output></td>
                        <td><output style="font-weight:normal;font-size:15px;"><%= inc.transactionType%></output></td>
                        <td><output style="font-weight:normal;font-size:15px;"><%= inc.totalQuantity%></output></td>
                        <td><output style="font-weight:normal;font-size:15px;"><%= inc.price%></output></td>
                        <td><output style="font-weight:normal;font-size:15px;"><%= inc.total%></output></td>
                        <td><output style="font-weight:normal;font-size:15px;"><%= inc.transactionDate%></output></td>
                    </tr>
                    <%}%>
            </table>
        </form>

        <%- include('../../parts/footer.ejs')%>