<%- include('../../parts/header.ejs')%>
<%- include('../../parts/navbar.ejs')%>
<form action="/accounts/invoices/totalinvoices"  method="POST" enctype="multipart/form-data " > </*onsubmit="returen false"*/>
<h1></h1>
<%for (let inc of transactions){%>
<fieldset>
    <legend>invoice</legend>
    <label>dateCreated</label>
    <output><%= inc.dateCreated%></output><br>
    <label>postDate</label>
    <output><%= inc.postDate%></output><br>
    <label>postNumber</label>
    <output><%= inc.postNumber%></output><br>
    <label>patchNumber</label>
    <output><%= inc.patchNumber%></output><br>
    <label>docNumber</label>
    <output><%= inc.docNumber%></output><br>
    <label>invoiceNumber</label>
    <output><%= inc.invoiceNumber%></output><br>
    <label name="from">from</label>
    <label>entity</label>
    <output><%= inc.from.fromEntity%></output>
    <label>subEntity</label>
    <output><%= inc.from.fromSubEntity%></output><br>
    <label name="to">to</label>
    <label>entity</label>
    <output><%= inc.to.toEntity%></output>
    <label>subEntity</label>
    <output><%= inc.to.toSubEntity%></output><br>
    <label>transactionType</label>
    <output><%= inc.transactionType%></output><br>
    <label>transactionClass</label>
    <output><%= inc.transactionClass%></output><br>
    <label>transactionNumber</label>
    <output><%= inc.transactionNumber%></output><br>
    <label>parentTransaction</label>
    <output><%= inc.parentTransaction%></output><br>
    <label>reaccurance</label>
    <output><%= inc.reaccurance%></output><br>
    <label>reaacuraneType</label>
    <output><%= inc.reaacuraneType%></output><br>
    <label>taxState</label>
    <output><%= inc.taxState%></output><br>
    <label>currency</label>
    <output></output><br>
    <table name="assets">
    <h3>assets</h3>
    <tr >
        <th style="width:6%">assetID</th>
        <th style="width:6%">assetName</th>
        <th style="width:6%">serialNumber</th>
        <th style="width:6%">quantity</th>
        <th style="width:6%">uintOfMeasurment</th>
        <th style="width:6%">price</th>
        <th style="width:6%">from</th>
        <th style="width:6%">to</th>
        <th style="width:6%">total</th>
    </tr>
    
     <% if (inc.assets.length) {%>
     <% inc.assets.forEach((asset) => {%>
    <tr>
    <th><%= asset.assetID%></th>
    <th><%= asset.assetName%></th>
    <th><%= asset.assetsSerialNumber%></th>
    <th><%= asset.assetsQuantity%></th>
    <th><%= asset.assetsUintOfMeasurment%></th>
    <th><%= asset.assetsPrice%></th>
    <th><%= asset.assetsFrom%></th>
    <th><%= asset.assetsTo%></th>
    <th><%= asset.assetsPrice * asset.assetsQuantity%></th>
    </tr>  
    <%}) %>
    <%} %>
    </table> 
    <table name="items">
    <h3>items</h3>
    <tr >
        <th style="width:6%">itemID</th>
        <th style="width:6%">itemName</th>
        <th style="width:6%">serialNumber</th>
        <th style="width:6%">quantity</th>
        <th style="width:6%">uintOfMeasurment</th>
        <th style="width:6%">price</th>
        <th style="width:6%">packageID</th>
        <th style="width:6%">packageName</th>
        <th style="width:6%">from</th>
        <th style="width:6%">to</th>
        <th style="width:6%">total</th>
    </tr>
        <% if (inc.items.length) {%>
        <% inc.items.forEach((item) => {%>
    <tr>
    <th><%= item.itemID%></th>
    <th><%= item.itemName%></th>
    <th><%= item.itemsSerialNumber%></th>
    <th><%= item.itemsQuantity%></th>
    <th><%= item.itemsUintOfMeasurment%></th>
    <th><%= item.itemsPrice%></th>
    <th><%= item.itemsPackageID%></th>
    <th><%= item.itemsPackageName%></th>
    <th><%= item.itemsFrom%></th>
    <th><%= item.itemsTo%></th>
    <th><%= item.itemsQuantity * item.itemsPrice%></th>
    </tr>  
        <%}) %>
        <%} %>
    </table>
    <table name="services">
    <h3>services</h3>
    <tr >
        <th style="width:6%">serviceID</th>
        <th style="width:6%">serviceName</th>
        <th style="width:6%">servicesUintOfMeasurment</th>
        <th style="width:6%">servicesQuantity</th>
        <th style="width:6%">servicesPrice</th>
        <th style="width:6%">servicesStart</th>
        <th style="width:6%">servicesEnd</th>
        <th style="width:6%">servicesPackage</th>
        <th style="width:6%">servicesFrom</th>
        <th style="width:6%">servicesTo</th>
        <th style="width:6%">total</th>
    </tr> 
    <% if (inc.services.length) {%>
        <% inc.services.forEach((service) => {%>
    <tr>
    <th><%= service.serviceID%></th>
    <th><%= service.serviceName%></th>
    <th><%= service.servicesUintOfMeasurment%></th>
    <th><%= service.servicesQuantity%></th>
    <th><%= service.servicesPrice%></th>
    <th><%= service.servicesStart%></th>
    <th><%= service.servicesEnd%></th>
    <th><%= service.servicesPackage%></th>
    <th><%= service.servicesFrom%></th>
    <th><%= service.servicesTo%></th>
    <th><%= service.servicesQuantity * service.servicesPrice%></th>
    </tr>  
        <%}) %>
        <%} %>
    </table>
    <table name="jobs">
    <h3>jobs</h3>
    <tr >
        <th style="width:6%">jobID</th>
        <th style="width:6%">jobName</th>
        <th style="width:6%">jobsUintOfMeasurment</th>
        <th style="width:6%">jobsQuantity</th>
        <th style="width:6%">jobsPrice</th>
        <th style="width:6%">total</th>
    </tr>
         <% if (inc.jobs.length) {%>
        <% inc.jobs.forEach((job) => {%>
    <tr>
    <th><%= job.jobID%></th>
    <th><%= job.jobName%></th>
    <th><%= job.jobsUintOfMeasurment%></th>
    <th><%= job.jobsQuantity%></th>
    <th><%= job.jobsPrice%></th>
    <th><%= job.jobsQuantity * job.jobsPrice%></th>
    </tr>  
        <%}) %>
        <%} %>
    </table>
    
    </fieldset>
   <%}%>
   
</form>

<%- include('../../parts/footer.ejs')%>