<%- include('../parts/header.ejs')%>
<%- include('../parts/navbar.ejs')%>
<form action="/accounts/income"  method="POST" enctype="multipart/form-data " > </*onsubmit="returen false"*/>


<h5>transactions</h5>
    <table id="myTable">
    <tr >
        <th style="width:6%">b</th>
        
    </tr>
    <%for (let inc of incomes){%>
    <tr> 
    
    <th><%= inc._id%></th>
 
    <th><%= inc.totalCr%></th>
    </tr> <%}%> 

   </table>
</form>
<%- include('../parts/footer.ejs')%>
